page-balance {
.btn-1{
  	margin-bottom: 15px;
    padding: 10px;
    /* border: 1px solid #000; */
    color: white;
    background-color: #00C4B3;
    border-radius: 5px !important;
    /* margin-top: 25px; */
    width: 100%;
  }
  #list-xem{
  	margin-bottom: -10px;
  }
 .header-ios .toolbar-ios:last-child .toolbar-background-ios{
  	background-color: #00C4B3 !important;
  	color: white;
  }
  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
  	border-color: white;
  }
  .toolbar-title-ios{
  	color: white;
  }
  .white-color{
  	color: white;
  }

}
