<ion-header>
    <ion-navbar class="header-class" hideBackButton="true">
        <button ion-button menuToggle class="force-display white-color" >
            <ion-icon name="ios-menu-outline"></ion-icon>
        </button>
        <ion-title class="white-title">
            {{'BALANCE' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content id="balance" padding>

    <ion-refresher (ionRefresh)="getBalance($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="{{'PULL_TO_REFRESH' | translate}} "
                refreshingSpinner="circles"
                refreshingText="{{'REFRESHING' | translate}} ">
        </ion-refresher-content>
    </ion-refresher>
    <form>

        <ion-list id="list-xem" radio-group [(ngModel)]="selectedMosaic" name="selected-mosaic">
            <div *ngFor="let mosaic of balance">
                <ion-card>
                    <ion-item *ngIf="(mosaic.mosaicId.description() == 'nem:xem')">
                            <ion-radio [value]="mosaic"> </ion-radio>
                                <ion-avatar item-start>
                                    <img src="assets/img/nem-white.png">
                                </ion-avatar>
                            <ion-label>
                                <b>XEM</b> <br>
                                {{ mosaic.amount }}
                        </ion-label>
                     </ion-item>
                 </ion-card>
             </div>
        </ion-list>
    </form>
    <form>
        <ion-list radio-group [(ngModel)]="selectedMosaic" name="selected-mosaic">
            <ion-list-header>TOKEN</ion-list-header>
            <ion-card *ngFor="let mosaic of balance">
                <ion-item *ngIf="(mosaic.mosaicId.description() != 'nem:xem' && mosaic.amount > 0)">
                    
                        <ion-radio [value]="mosaic"> </ion-radio>
                            <ion-avatar item-start>
                                <img src="assets/img/token.png">
                            </ion-avatar>
                        <ion-label >
                            <b > {{ mosaic.mosaicId.description() }} </b><br>
                             {{ mosaic.amount }}
                            
                    </ion-label>
                 </ion-item>
             </ion-card>
        </ion-list>
    </form>


</ion-content>


<ion-footer no-shadow>
    <ion-toolbar position="bottom" class="background-white">
        <div class="row">
            <div class="col col-50">
                <button ion-button block color="#00C4B3"
                        on-click="goToTransfer()" [disabled]="!selectedMosaic" class="btn-1">
                    {{'TRANSFER_BUTTON' | translate}}
                </button>
            </div>
            <div class="col col-50">
                <button ion-button block color="secondary"
                        on-click="goToReceive()" [disabled]="!selectedMosaic" class="btn-1">
                    {{'RECEIVE_BUTTON' | translate}}
                </button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
