<ion-col col-3 *ngIf="owner?.plain() == tx?.recipient.plain()">
    <ion-avatar item-start style="float:left;">
        <img src="assets/img/positive.png">
    </ion-avatar>
</ion-col>
<ion-col col-3 *ngIf="owner?.plain() != tx?.recipient.plain()">
    <ion-avatar item-start style="float:left;">
        <img src="assets/img/negative.png">
    </ion-avatar>
</ion-col>
<ion-col col-9>
<h2>
    <span [hidden]="!mosaics || amount == 0">
        <!--<span class="color-plus" *ngIf="owner?.plain() == tx?.recipient.plain()">
            +
        </span>
        <span class="color-less" *ngIf="owner?.plain() != tx?.recipient.plain()">
            -
        </span>-->
        {{amount}} XEM
    </span>
    <span *ngFor="let mosaic of mosaics">

        <!--<span class="color-plus" *ngIf="owner?.plain() == tx?.recipient.plain()">
            +
        </span>
        <span class="color-less" *ngIf="owner?.plain() != tx?.recipient.plain()">
            -
        </span>-->
        <span *ngIf="(mosaic.mosaicId.description() == 'nem:xem')"> {{ mosaic.amount?.toString() }} XEM</span>
         <span *ngIf="(mosaic.mosaicId.description() != 'nem:xem')"> {{ mosaic.amount?.toString() }} {{mosaic.mosaicId.description()}}</span>
    </span>
</h2>
<ion-col>

<!-- Sender or recipient -->
<p class="fit-long-address">
    <b>
        <span *ngIf="owner?.plain() == tx?.recipient.plain()">{{'FROM' | translate}}</span>
        <span *ngIf="owner?.plain() != tx?.recipient.plain()">{{'TO' | translate}}</span>:
    </b>
     <span *ngIf="owner?.plain() == tx?.recipient.plain()">{{tx.signer.address.plain() | searchContact:owner?.plain() | async}}</span>
      <span *ngIf="owner?.plain() != tx?.recipient.plain()">{{tx.recipient.plain() | searchContact:owner?.plain() | async}}</span>
</p>

<!-- Date (Timestamp) -->
<p>
    <b>{{'DATE' | translate}}:</b> {{tx.timeWindow.timeStamp.toString()}}
</p>

<!-- Fee -->
<p *ngIf="tx.fee"><b>{{'FEE' | translate}}:</b> {{tx.fee | formatXEM}} XEM</p>

<!-- Has levy -->
<p>
    <span *ngIf='hasLevy'>
            <b>{{'LEVY' | translate}}</b>:
    </span>
    <span *ngFor="let mosaic of mosaics;">
        <span *ngIf="mosaic.levy?.mosaicId">
            {{mosaic | formatLevy:(mosaic) | async}} {{mosaic.levy.mosaicId.description()}}
        </span>
    </span>
</p>

<!-- Message -->
<p *ngIf="tx.message">
    <span *ngIf="!tx.message.isEncrypted() && tx.message.plain().length > 0">
        <b> {{'MESSAGE' | translate}}:</b> {{tx.message.plain()}}
    </span>
    <span *ngIf="tx.message.isEncrypted()">
        <b> {{'MESSAGE' | translate}}:</b> {{'ENCRYPTED' | translate}}.
    </span>
</p>